# -------------------------
# Model checkpoints / weights
# -------------------------
*.pt
*.pth
*.ckpt
*.onnx
*.safetensors
*.usd
source/Go2Arm_Lab/Go2Arm_Lab/assets/*.usd

# -------------------------
# Training logs and outputs
# -------------------------
logs/
outputs/
**/events.out.tfevents.*

# -------------------------
# Python cache/build artifacts
# -------------------------
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

# -------------------------
# Environment / local files
# -------------------------
.venv/
venv/
env/

.DS_Store
Thumbs.db
